.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  border-width: 4px;
  border-style: solid;
  border-color: rgba(132, 0, 255, 0.6) transparent rgba(140, 0, 255, 0.6)
    rgba(140, 0, 255, 0.6);
  border-radius: 50%;
  animation: woosh 2s ease-in-out infinite alternate;
}
.circle:nth-of-type(1) {
  animation-delay: 0.1s;
  width: 499px;
  height: 499px;
}
.circle:nth-of-type(2) {
  animation-delay: 0.2s;
  width: 498px;
  height: 498px;
}
.circle:nth-of-type(3) {
  animation-delay: 0.3s;
  width: 497px;
  height: 497px;
}
.circle:nth-of-type(4) {
  animation-delay: 0.4s;
  width: 496px;
  height: 496px;
}
.circle:nth-of-type(5) {
  animation-delay: 0.5s;
  width: 495px;
  height: 495px;
}
.circle:nth-of-type(6) {
  animation-delay: 0.6s;
  width: 494px;
  height: 494px;
}
.circle:nth-of-type(7) {
  animation-delay: 0.7s;
  width: 493px;
  height: 493px;
}
.circle:nth-of-type(8) {
  animation-delay: 0.8s;
  width: 492px;
  height: 492px;
}
.circle:nth-of-type(9) {
  animation-delay: 0.9s;
  width: 491px;
  height: 491px;
}
.circle:nth-of-type(10) {
  animation-delay: 1s;
  width: 490px;
  height: 490px;
}

@keyframes woosh {
  0% {
    transform: rotateY(-45deg) translate(-50%, -50%);
  }
  100% {
    transform: rotateY(45deg) translate(-50%, -50%);
  }
}
body {
  background-color: #eee;
  overflow: hidden;
}
